
jinja2<3.1.0
mkdocs==1.5.3
pymdown-extensions==10.0
markdown==3.3.7
mkdocs-schema-reader==0.11.1
mkdocs-simple-hooks==0.1.5
mdx_spanner==0.0.5
mkdocs-yaml-schema-plugin==0.2.3
mkdocs-snakemake-rule-plugin==0.3.3
mkdocs-material==9.1.7
mkdocs-material-extensions==1.2
pymdown-extensions==10.0
