name: Compatibility test

on:
  push:
    branches:
     - develop
     - master
  pull_request:
    branches:
     - develop
     - master
  workflow_dispatch:

jobs:
  compatibility-test:
    name: Run compatibility test
    runs-on: ubuntu-latest
    steps:
      - name: Get branch names
        id: branch-name
        uses: tj-actions/branch-names@v5.2
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - name: Add conda to system path
        run: |
          echo $CONDA/bin >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          conda install -c conda-forge mamba
      - name: Install requirements.txt
        run: |
          pip install -r requirements.txt
      - name: Install requirements.test.txt
        run: |
          pip install -r requirements.test.txt
      - name: snakemake dry run
        working-directory: .tests/compatibility
        run: |
          snakemake -n -s Snakefile -c
      - name: snakemake dry run fastp_pe config
        working-directory: .tests/compatibility
        run: |
          snakemake -n -s Snakefile --configfile config_fastp_pe.yaml
