name: Snakemake dry run

on:
  push:
    branches:
     - develop
     - master
  pull_request:
    branches:
     - develop
     - master

  workflow_dispatch:

jobs:
  snakemake-dry-run:
    name: Run snakemake dry run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - name: Add conda to system path
        run: |
          echo $CONDA/bin >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          conda install -c conda-forge mamba
      - name: Install requirements.txt
        run: |
          pip install -r requirements.txt
      - name: Install requirements.test.txt
        run: |
          pip install -r requirements.test.txt
      - name: snakemake dry run
        working-directory: .tests/integration
        run: |
          mamba install -c conda-forge -c bioconda snakemake singularity
          snakemake -n -s ../../workflow/Snakefile
      - name: snakemake dry run fastp_pe config
        working-directory: .tests/integration
        run: |
          mamba install -c conda-forge -c bioconda snakemake singularity
          snakemake -n -s ../../workflow/Snakefile --configfile config_fastp_pe.yaml
